*{
    box-sizing: border-box;
    margin  : 0;
    padding : 0;
}

.StepComponent{
    padding : 40px 20px 30px;    
}

.list{
    display : flex;
    margin  : 0px -10px;
}

.list-item-container{
    flex    : 0 1 25%;
    padding : 0px 10px;
    display : flex;
}

.list-item{
    display         : flex;
    flex-direction  : column;
    border          : 2px solid #0a3f7a;
    box-shadow      : 0 0 10px rgba(255, 255, 255, 0.39);
}

.item-title{ 
    height          : 120px;
    background      : #0a3f7a;
    display         :flex;
    justify-content : center;
    align-items     : center;
}

.item-title-text{ 
    padding       : 12px 10px 10px;
    font-family   : Fira Sans;
    font-style    : normal;
    font-weight   : 900;
    font-size     : 30px;
    line-height   : 28px;
    text-align    : center;
    letter-spacing: 0.3px;
    color         : #FFFFFF;
}

.points{
    display       : flex;
    flex-direction: column;
    flex-grow     : 1;
    font-size     : 20px;
    margin-top    : 26px;
    padding       : 0px 10px;
}

.rectangle{
    top       : 3%;
    left      : 2.5%;
    right     : 2.5%;
    height    : 3px;
    width     : 95%;
    background: #0a3f7a;
    margin-top: 70px;
    position  : relative;
}  

 
.order {
    position       : relative;
    top:3%;
    display        : flex;
    justify-content: center;
    align-items    : center;
}

.order-button{
    
    font-style     : normal;
    font-weight    : 800;
    font-size      : 24px;
    outline        : none;
    margin-top     : 20px;
    width          : 80%;
    height         : 68px;
    background     : #b30e21;
    border         : none;
    box-shadow     : 0px 13px 36.1px rgba(255, 33, 59, 0.25);
    cursor         : pointer;
    display        : flex;
    justify-content: center;
    align-items    : center;
    
}

.order-button:hover{
    background         : #aa0317;
    transition-duration: 0.4s;
    transform          : scale(1.2);
    text-decoration: none;
}

.order-button-text{
    text-decoration: none;
    text-align: center;
    color       : #FFFFFF; 
}

@media  (max-width: 992px) {  
    .list{
        flex-wrap   : wrap;
        display     : flex;
        margin      : 0px;
    }
    .list-item-container{
        flex        : 1 1 50%;
        padding     : 0px 10px;
        display     : flex;
    }

    .list-item{
        margin-top  : 20px;
      
    }

    .order{
        margin-top     : 10px;
        margin-bottom  : 10px;
        position       : static;
        display        : flex;
        justify-content: center;
        align-items    : center;
    }
  }

@media  (max-width: 576px) { 
    .StepComponent{
        padding : 10px 0px ;    
    }
    
    .list{
        display : block;
    }

    .list-item-container{
        display : block;
        padding : 0px;
    }

    .order{
       margin   : 10px;
    }

    .order-button{
        margin  : 0;
    }
 }

 
 